/* shared styles */
* {
    box-sizing: border-box;
}

body {
    font-family: "Merriweather Sans", sans-serif;
    font-family: "Inter", sans-serif;
    margin: 0 auto;
    overflow-x: hidden;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}


/* header styles */
.header {
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0)), url("../resources/Banner\ Image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    margin: 50px auto;
    width: 100%;
    max-width: 1200px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.banner-greeting {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    margin-top: 20px;
    text-align: center;
}

.banner-title {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-left: 40px;
    max-width: 90%;
    margin-top: -20px;
    text-align: center;
}

/* section-container styles */
.section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-title {
    margin: 120px 609px 50px 608px;
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
}

.section-description {
    margin: 30px 601px 20px 602px;
    color: brown;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
}

.category {
    margin: 10px 601px 60px 602px;
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
}

.new-year-image {
    width: 100%;
    max-width: 800px;
    height: 500px;
    margin: 50px 398px 120px 399px;
}

.new-year-image:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

/* mid-night-image styles */
.mid-night-image {
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0)), url("../resources/Vectorrr.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1200px;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    border-radius: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    overflow: hidden;
}

.midnight-greeting,
.midnight-text,
.join {
    margin-left: 5%;
}

.midnight-greeting {
    margin-top: 10%;
    color: gold;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
}

.midnight-text {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    max-width: 50%;
    margin-top: -20px;
}

.join {
    cursor: pointer;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
}

.mid-night-image a {
    text-decoration: none;
}

.top-image {
    position: absolute;
    width: 320px;
    height: 465px;
    margin: 68px 108px 67px 780px;
}

.top-image:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

.section-description:hover,
.banner-title:hover,
.banner-greeting:hover,
.category:hover,
.schedule-description:hover,
.join:hover {
    color: gold;
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}


.midnight-text:hover {
    color: #99ffff;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

/* schedule styles */
.schedule {
    width: 100%;
    max-width: 1200px;
    height: 482px;
    margin: 120px auto;
    padding: 40px;
    border-radius: 16px;
    text-align: center;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
}

.schedule-description {
    margin: 150px auto 50px;
    max-width: 100%;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    word-wrap: none;
    text-align: center;
    text-transform: capitalize;
}

.schedule-text {
    color: #fd0a0a;
}

.btn-primary {
    background: #fd0a0a;
    border: 0;
    border-radius: 10px;
    padding: 16px 30px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
}

.btn-primary:hover {
    background: rgba(112, 12, 67, 0.973);
    color: azure;
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

/* offer-container styles */
.offer-container {
    width: 100%;
    max-width: 1200px;
    height: 500px;
    margin: 120px auto;
    padding: 20px;
    background: none;
    box-sizing: border-box;
    overflow: hidden;
}

.offer-item {
    margin: 80px 100px 0 0;
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    text-transform: uppercase;
}

.offer-title {
    color: rgb(7, 2, 17);
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-align: left;
    text-transform: capitalize;
}

.offer-description {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    max-width: 30%;
}

.offer-image {
    width: 363px;
    height: 363px;
    margin: -300px 400px 0;
    padding: 30px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    border: 15px solid rgb(255, 0, 0);
}

.offer-image:hover {
    transform: scale(1.1);
    filter: drop-shadow(10px 10px 10px #f00909);
    transition: transform 0.3s ease-in-out;
}

.offer-text {
    margin: -320px 170px 0;
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    text-align: right;
}

.offer-text-description {
    max-width: 20%;
    margin: 10px 0 10px 870px;
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}

.offer-image2 {
    width: 140px;
    height: 140px;
    margin: 10px 0px 80px 870px;
}

.offer-image2:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.offer-container:hover {
    background: #9fe4cf;
    padding: 20px;
    width: 1300px;
    height: auto;
    transition: height 0.3s ease, background 0.3s ease;
    box-sizing: border-box;
}

.offer-description:hover,
.offer-text-description:hover,
.portfolio-container:hover .portfolio-description,
.newsletter-container h2:hover,
.newsletter-container p:hover {
    color: chocolate;
}

/* holiday-container styles */
.holiday-container {
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 120px auto;
    padding: 20px;
    background: none;
    box-sizing: border-box;
    overflow: hidden;
}

.holiday-container:hover {
    background: orchid;

}

.holiday-item {
    margin: 20px 400px 10px;
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
}

.holiday-title {
    margin: 20px 322px 10px 321px;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    white-space: nowrap;
}

.holiday-title-text {
    color: #fd0a0a;
}

.holiday-description {
    max-width: 100%;
    margin: 30px 100px 50px;
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
}

.holiday-item:hover,
.holiday-description:hover {
    color: brown;
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

.rectangle-2 {
    background-image: url('../resources/Rectangle\ 2.png');
    position: relative;
    width: 100%;
    max-width: 1320px;
    height: 229px;
    border-radius: 16px 0px 16px 16px;
    margin: 550px auto 120px;
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.group-75 {
    width: 675px;
    height: 578px;
    margin: -410px 500px 0px 0px;
    position: relative;
}

.rectangle-1 {
    width: 429px;
    height: 433px;
    margin: -705px 0px 600px 731px;
    z-index: 1;
    position: relative;
}

.group-44 {
    width: 306px;
    height: 306px;
    margin: -500px 285px 290px 600px;
    z-index: 2;
    position: relative;
}

.group-44:hover {
    transform: scale(1.2);
    filter: drop-shadow(4px 4px 20px #f00909);
    transition: transform 0.3s ease-in-out;
}

/* portfolio-container styles */
.portfolio-container {
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.portfolio-item {
    margin: 20px 128px 10px 30px;
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
}

.portfolio-title {
    margin: 10px 154px 10px 30px;
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    white-space: nowrap;
    text-align: left;
    text-transform: capitalize;
}


.portfolio-description {
    margin: 10px 400px 50px 30px;
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}

.portfolio-images {
    margin-top: 50px;
    margin-left: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    gap: 10px; 
    margin-bottom: 30px;
}

.image-container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.portfolio-image {
    display: block;
    width: 95%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0; /* Ensure overlay starts at the top */
    left: 0; /* Ensure overlay starts at the left */
    height: 100%; /* Full height of the container */
    width: 100%; /* Full width of the container */
    opacity: 0;
    background: rgba(136, 107, 93, 0.692);
    transition: all .5s ease;
}

.image-container:hover .overlay {
    opacity: 1;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlayLeft,
.overlayRight,
.overlayTop,
.overlayBottom,
.overlayCross,
.overlayFade {
    transition: all 0.5s ease;
}

.overlayLeft {
    height: 100%;
    width: 0;
    left: 0;
}

.overlayRight {
    height: 100%;
    width: 0;
    right: 5%;
    left: auto;
}

.image-container:hover .overlayLeft,
.image-container:hover .overlayRight {
    width: 95%;
}

.overlayTop {
    width: 95%;
    height: 0;
    top:0;
}

.overlayBottom {
    width: 95%;
    height: 0;
    top:auto;
    bottom: 0;
}

.image-container:hover .overlayTop,
.image-container:hover .overlayBottom {
    height: 100%;
}

.overlayCross {
    width: 0;
    height: 0;
}

.image-container:hover .overlayCross {
    width: 95%;
    height: 100%;
}

.overlayFade {
    opacity: 0;
}

.image-container:hover .overlayFade {
    width: 95%;
    opacity: 1;
}

.text h1 {
    font-size: 24px;
    color: rgba(23, 233, 180, 0.973);
    white-space: nowrap;
}

.text p {
    font-size: 18px;
    color: azure;
    text-align: center;
    max-width: 100%;
}

.text button {
    background: rgba(112, 12, 67, 0.973);
    border: 0;
    border-radius: 10px;
    margin-left: 20px;
    padding: 15px 30px;
    color: azure;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
}

.text button:hover {
    color: rgb(182, 235, 235);
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

/* newsletter-container styles */
.newsletter-container {
    width: 100%;
    max-width: 1200px;
    height: 620px;
    margin: 120px auto 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    overflow: hidden;
}

.newsletter-container img {
    width: 150px;
    height: 150px;
    margin: 40px 585px 10px;
}

.newsletter-container img:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

.newsletter-container h2 {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin: 10px 0;
}

.newsletter-container p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    margin: 10px 200px 0px;
    max-width: 100%;
}

.newsletter-container h2:hover,
.newsletter-container p:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

.newsletter-container form {
    display: inline-block;
    position: relative;
    margin-top: 50px;
}

.newsletter-container input[type="email"] {
    width: 650px;
    height: 40px;
    border-radius: 50px;
    background: #fff;
    padding: 35px;
    border: 0;
    outline-color: #b30059;
    font-size: 20px;
}

.newsletter-container input[type="email"]::placeholder {
    color: rgba(7, 2, 17, 0.3);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}

.newsletter-container input[type="submit"] {
    width: 200px;
    height: 70px;
    border-radius: 0px 50px 50px 0px;
    background: #f00909;
    position: absolute;
    padding: 15px;
    font-size: 20px;
    border: 0;
    cursor: pointer;
    color: #fff;
    right: 0;
}

.newsletter-container input[type="submit"]:hover {
    background: #521b02;
    color: rgb(182, 235, 235);

}

.newsletter-container input[type="email"]:hover {
    background: rgb(10, 173, 173);
    color: rgb(153, 51, 51);
}

/* footer styles */
footer {
    width: 100%;
    margin: 120px auto 0;
    background: rgb(7, 2, 17);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    text-align: left;
    overflow: hidden;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 190px;
    /* margin-left: 200px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-text1 {
    display: flex;
    justify-content: space-between;
    margin-right: 500px;
    /* align-items: flex-start;
    text-align: left; */
}

.address {
    margin: 120px 0px 20px 170px;
    text-align: left;
    white-space: nowrap;
}

.contact ul {
    margin: 120px 0px 20px 350px;
    text-align: right;
}

.contact li {
    display: flex;
    margin-bottom: -50px;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
}

.contact li:nth-child(2) {
    margin-left: 50px;
}

.contact img {
    margin-right: 10px;
    width: 27px;
    height: 29px;
}

.line1,
.line2 {
    /* width: 100%; */
    width: 1200px;
    margin: 20px 200px 20px 0px;
    padding-right: 300px;
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 200px 10px 0px;
}

.social-links a {
    padding-right: 15px;
}

.footer-text2 {
    display: flex;
    justify-content: space-between;
    margin-right: 390px;
}

.copyright {
    margin: 20px 120px 50px 190px;
    text-align: left;
    white-space: nowrap;
}

.unsubscribe {
    margin: 20px 0px 50px 620px;
    text-align: right;
}

.address:hover,
.contact:hover,
.copyright:hover,
.unsubscribe:hover {
    color: #12e2e9;
    transform: scale(1.1);
    transition: color 0.5s ease-in-out, transform 0.3s ease-in-out;
}

.social-links a:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}